<!DOCTYPE html>
<html lang="pt_br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Proffy | Sua plataforma de estudos online</title>

  <meta name="theme-color" content="#8257E5">
  
  <link rel="shortcut icon" href="/images/favicon.png" type="image/png"> <!--Adicionando ícone da página-->

  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/partials/header.css">
  <link rel="stylesheet" href="/styles/partials/page-create-account.css">
  <link rel="stylesheet" href="/styles/partials/forms.css">

  <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
</head>
<body id="page-create-account">
  
  <div id="container">
    
    <main>
      <header>
        <h1>Informe um e-mail e senha para ter acesso ao seu perfil Proffy!</h1>
        <p class="error-message"></p>
      </header>

      <form id="createAccount">
        
          

          <div class="input-block">
            <label for="email">E-mail</label>
            <input type="email" name="email" id="email" required>
          </div>

          <div class="input-block">
            <label for="password">Senha</label>
            <input type="password" name="password" id="password" required>
          </div>

          <div class="input-block">
            <label for="confirmPassword">Confirme a Senha</label>
            <input type="password" name="confirmPassword" id="confirmPassword" required>
          </div>

        
      </form>

      <footer>
        <button type="submit" form="createAccount">Criar</button>
      </footer>
    </main>
    
  </div>
  
  <script>
    const form = document.getElementById("createAccount");
    const errorMessage = document.querySelector('.error-message');

    form.addEventListener('submit', async (e) => {
      e.preventDefault();

      // reset error
      errorMessage.textContent = '';
      
      // get the values
      const email = form.email.value;
      const password = form.password.value;
      const confirmPassword = form.confirmPassword.value;

      try {
        const res = await fetch('/create-account', {
          method: 'POST',
          body: JSON.stringify({ email, password, confirmPassword }),
          headers: { 'Content-Type': 'application/json' }
        });

        const data = await res.json();
        
        if (data.errorMessage) {
          errorMessage.textContent = data.errorMessage;
        }
        if (data.user) {
          location.assign('/give-classes');
        }

      } catch (err) {
        console.log(err);
      }

    });
  </script>

</body>
</html>