<!DOCTYPE html>
<html lang="pt_br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Proffy | Sua plataforma de estudos online</title>
  
  <link rel="shortcut icon" href="/images/favicon.png" type="image/png"> <!--Adicionando ícone da página-->

  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/partials/header.css">
  <link rel="stylesheet" href="/styles/partials/forms.css">
  <link rel="stylesheet" href="/styles/partials/page-give-classes.css">

  <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;600;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
</head>

<body id="page-give-classes" onload="getData()">
  
  <div id="container">

    <header class="page-header">
      <div class="top-bar-container">
        <a href="/">
          <img src="/images/icons/back.svg" alt="Voltar">
        </a>
        
        <a id="logout" href="/logout">Sair</a>

        <img src="/images/logo.svg" alt="Proffy">
      </div>

      <div class="header-content">
        <strong>Que incrível que você quer dar aulas</strong>
        <p>O primeiro passo, é preencher esse formulário de inscrição</p>
      </div>
    </header>

    <main>
      <form action="/save-classes" id="create-class" method="POST">
        <fieldset>
          <legend>Seus dados</legend>

          <div class="input-block">
            <label for="name">Nome completo</label>
            <input name="name" id="name" required>
          </div>

          <div class="input-block">
            <label for="avatar">Link da sua foto <small>(comece com https://)</small></label>
            <input name="avatar" id="avatar" type="url" required>
          </div>

          <div class="input-block">
            <label for="whatsapp">Whatsapp <small>(somente números)</small></label>
            <input name="whatsapp" id="whatsapp" type="number" required>
          </div>

          <div class="textarea-block">
            <label for="bio">Biografia</label>
            <textarea name="bio" id="bio" required></textarea>
          </div>

        </fieldset>

        <fieldset>
          <legend>Sobre a aula</legend>
          <div class="select-block">
            <label for="subject">Matéria</label>
            <select name="subject" id="subject" required>
              <option value="">Selecione qual você quer ensinar</option>
              
              {% for subject in subjects %}
                <option value="{{loop.index}}">
                  {{subject}}
                </option>
            
              {% endfor %}
              
            </select>
          </div>

          <div class="input-block">
            <label for="cost">Custo da sua hora/aula
              <small>(R$)</small>
            </label>
            <input type="number" name="cost" id="cost" required>
          </div>
        </fieldset>

        <fieldset id="schedule-items">
          <legend>Horários disponíveis
            <button type="button" id="add-time">+ Novo Horário</button>
          </legend>

          <div class="schedule-item">

            <div class="select-block">
              <label for="weekday">Dia da semana</label>
              <select name="weekday[]" required>
                <option value="">Selecione o dia</option>
                
                {% for weekday in weekdays %}
                  <option value="{{loop.index0}}">
                    {{weekday}}
                  </option>
                {% endfor %}

              </select>
            </div>

            <div class="input-block">
              <label for="time-from">Das</label>
              <input type="time" name="time_from[]" required>
            </div>

            <div class="input-block">
              <label for="time-to">Até</label>
              <input type="time" name="time_to[]" required>
            </div>


          </div>

          
        </fieldset>
      </form>

      <footer>
        <p>
          <img src="/images/icons/warning.svg" alt="Aviso importante">
          Importante! <br>
          Preencha todos os dados
        </p>
        <button type="submit" form="create-class">Salvar cadastro</button> <!--O botão está fora do formulário. Para este botão ser usado para enviar o formulário acima é necessário indicar o id do formulário através da propriedade form-->
      </footer>
    </main>

  </div>
  <script src="/scripts/addField.js"></script>
  <script>
    const form = document.querySelector("#create-class");

    async function getData () {
      try {
        const res = await fetch('/give-classes?getData=1', {
          method: 'GET'
        });

        // receiving the response
        const data = await res.json();
        console.log(data);

        // Injecting data on the form
        if (data.status) {
          
          form.name.value = data.proffyValue.name;
          form.avatar.value = data.proffyValue.avatar;
          form.whatsapp.value = data.proffyValue.whatsapp;
          form.bio.value = data.proffyValue.bio;

          form.subject.value = data.classValue.subject;
          form.cost.value = data.classValue.cost;

          if (data.classScheduleValues.length === 1) {
            const arrWeekday = document.getElementsByName("weekday[]");
            const arrTimeFrom = document.getElementsByName("time_from[]");
            const arrTimeTo = document.getElementsByName("time_to[]");

            arrWeekday[0].value = data.classScheduleValues[0].weekday;
            arrTimeFrom[0].value = data.classScheduleValues[0].time_from;
            arrTimeTo[0].value = data.classScheduleValues[0].time_to;
              
          } else {
            for (let i = 1; i < data.classScheduleValues.length; i++) {
              addTimeFields({forceAdd: true});
            }

            const arrWeekday = document.getElementsByName("weekday[]");
            const arrTimeFrom = document.getElementsByName("time_from[]");
            const arrTimeTo = document.getElementsByName("time_to[]");

            arrWeekday[0].value = data.classScheduleValues[0].weekday;
            arrTimeFrom[0].value = data.classScheduleValues[0].time_from;
            arrTimeTo[0].value = data.classScheduleValues[0].time_to;

            for (let i = 1; i < data.classScheduleValues.length; i++) {
              arrWeekday[i].value = data.classScheduleValues[i].weekday;
              arrTimeFrom[i].value = data.classScheduleValues[i].time_from;
              arrTimeTo[i].value = data.classScheduleValues[i].time_to;
            }
          }

        }

      } catch (err) {
        console.log(err);
      }
    };
  </script>
</body>
</html>